* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#applicant_form {
    max-width: 1000;
    margin: 0 auto;
}
#applicant_form .form-group {
    margin-bottom: 10px;
}
#applicant_form .form-group label {
    display: block;
    margin-bottom: 5px;
    position: relative;
}

#applicant_form .form-group label span {
    color: var(--danger);
}

#applicant_form .talent__form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: #333 !important;
}
#applicant_form textarea.talent__form-control {
    min-height: 100px;
    resize: vertical;
}
/* foucs */
#applicant_form .talent__form-control:focus {
    border-color: var(--primary);
}
#applicant_form .talent__form-control:focus-visible {
    outline: none;
}

#form_message {
    margin-top: 20px;
}
#form_message .alert {
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}
#form_message .success {
    color: var(--success);
    background-color: var(--greenish-white);
    margin-top: 20px;
}

#form_message .error {
    color: var(--danger);
    background-color: var(--redish-white);
    margin-top: 20px;
}

/* submit button */
#applicant_form .talent__submit {
    color: #fff;
    border: none;
    padding: 10px 30px !important;
    background-color: var(--primary);
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

#applicant_form .talent__submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
}
:root {
    --primary: #026cd1;
    --bs-primary: var(--primary);
    --success: #2cda94;
    --danger: #df2a43;
    --bs-danger: var(--danger);
    --black: #000000;
    --white: #ffffff;
    --ice-white: #fbfcfe;
    --bluish-white: #e2edfa;
    --border-color: #e2edfa;
    --red: var(--danger);
    --redish-white: #f5bec6;
    --yellow: #fcc428;
    --yellowish-white: #fff7e3;
    --green: var(--success);
    --greenish-white: #d2fccc;
    --placeholder: #d3d3d3;
    --gray: #526471;
    --text-red: #df2a43;
    --text-black: #36454f;
    --text-label: #36454f;
    --font10: 10px;
    --font12: 12px;
    --font14: 14px;
    --font16: 16px;
    --font18: 18px;
    --font20: 20px;
    --font22: 22px;
}
#applicant_form .attachment-details {
    margin-bottom: 20px;
}
#applicant_form .d-none {
    display: none;
}
#applicant_form .upload-btn {
    background-color: var(--bluish-white);
    border: none;
    padding: 5px 10px;
    display: flex;
    gap: 8px;
    font-weight: 600;
    font-size: var(--font12);
    color: var(--primary);
    align-items: center;
    border-radius: 4px;
}
#applicant_form .upload-btn span {
    width: unset;
    height: unset;
    padding: 0;
}
#applicant_form .upload-btn .upload-icon {
    font-size: var(--font20);
    font-weight: bold;
}
#applicant_form .file-icon {
    background-color: var(--bluish-white);
    border-radius: 30px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    transition: all 0.2s;
}

#applicant_form .attachment-details .title {
    text-align: center;
    margin-top: 60px;
    font-size: var(--font14);
    color: var(--primary);
}
#applicant_form .attach-wrapper {
    border: 2px dashed var(--primary);
    background-color: #f9fcff;
    padding: 30px 30px 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    display: block;
    cursor: pointer;
}
#applicant_form .attach-wrapper h6 {
    margin: 0;
    font-size: var(--font14);
    font-weight: 700;
    color: var(--text-black);
}
#applicant_form .attach-wrapper .or {
    font-size: var(--font12);
    margin-bottom: 20px;
    display: inline-block;
}
#applicant_form .attach-wrapper .upload-btn {
    background-color: var(--bluish-white);
    border: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    font-size: var(--font12);
    color: var(--primary);
    border-radius: 4px;
    margin: auto;
    width: max-content;
}
#applicant_form .attach-wrapper small {
    font-size: var(--font10);
    display: inline-block;
    margin-top: 20px;
    color: #a5a5a5;
}
