#applicant_form {
    max-width: 1000;
    margin: 0 auto;
}
#applicant_form .form-group {
    margin-bottom: 10px;
}
#applicant_form label {
    display: block;
    margin-bottom: 5px;
    position: relative;
}

#applicant_form label span {
    color: red;
}

#applicant_form .talent__form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333 !important;
}
#applicant_form textarea.talent__form-control {
    min-height: 100px;
    resize: vertical;
}
/* foucs */
#applicant_form .talent__form-control:focus {
    border-color: #333;
}
#applicant_form .talent__form-control:focus-visible {
    outline: none;
}

#applicant_form input[type='file'].talent__form-control {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #333;
}

#form_message {
    margin-top: 20px;
}
#form_message .success {
    color: green;
    margin-top: 20px;
}

#form_message .error {
    color: red;
    margin-top: 20px;
}

/* submit button */
#applicant_form .talent__submit {
    color: #fff;
    border: none;
    padding: 10px 20px !important;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
}

#applicant_form .talent__submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
}
