#applicant_form {
    max-width: 600px;
    margin: 0 auto;
}
#applicant_form p {
    margin-bottom: 15px;
}
#applicant_form label {
    display: block;
    margin-bottom: 5px;
}
#applicant_form input[type='text'],
#applicant_form input[type='email'],
#applicant_form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#form_message {
    margin-top: 20px;
}
#form_message .success {
    color: green;
    margin-top: 20px;
}

#form_message .error {
    color: red;
    margin-top: 20px;
}
